NEXT_PUBLIC_SUPABASE_URL=https://falizcvmhffcrmmhsdmp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhbGl6Y3ZtaGZmY3JtbWhzZG1wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4NjE5ODksImV4cCI6MjEwNTQzNzk4OX0.PzdQahidGjdGKIfaDK77I0vlFSVWl5wFxEq7VAFqxzU
BOB_API_KEY=bob_prod_bob-apikey_4vM54NcY9DHAGTPrsq16E1STBoJvbrZvdnykE4heYoGWYPsjn2914b2SvWnepSJdkyXzKtRqDqahkFduqfgFqD9S_CBqfqwj16pCtNX9an1nszUqcuZF99bjzTa2axgngDgEk
BOB_API_URL=https://api.bob.ibm.com/v1/chat/completions