NEXT_PUBLIC_SUPABASE_URL=https://falizcvmhffcrmmhsdmp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhbGl6Y3ZtaGZmY3JtbWhzZG1wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4NjE5ODksImV4cCI6MjEwNTQzNzk4OX0.PzdQahidGjdGKIfaDK77I0vlFSVWl5wFxEq7VAFqxzU
BOB_API_KEY=AQ.Ab8RN6LUmB1r_96sou-LMTTRJS0aDd4v27ltHTrHBLC5yq57ag
BOB_API_URL=https://generativelanguage.googleapis.com/v1beta/openai/v1/chat/completions